<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>OpenRaster Image</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.paintnode.openraster</string>
      </array>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.paintnode.openraster</string>
      <key>UTTypeDescription</key>
      <string>OpenRaster Image</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.image</string>
        <string>public.data</string>
        <string>public.zip-archive</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>ora</string>
        </array>
        <key>public.mime-type</key>
        <array>
          <string>image/openraster</string>
        </array>
      </dict>
    </dict>
  </array>
</dict>
</plist>
